Repository Sharonina/DEV002-social-network, pull requests merged in 2023-01, with the labels that each got.

#50 Validar usuario unico
  src/firebase/configuracionFirebase.js
  src/logic/registroUsuarioLogica.js
Labels: enhancement

#52 El retorno de los estilos
  src/assets/dog-iconuser.png
  src/assets/dog.png
  src/index.html
  src/logic/formularioRegistroMascotaLogica.js
  src/pages/FormularioRegistroMascota.js
  src/pages/Home.js
  src/styles/styles.css
  src/templates/Header.js
  src/templates/timeline.js
Labels: enhancement, Styles, HTML

#56 Signout
  src/logic/homeLogica.js
  src/logic/recuperarContraseñaLogica.js
  src/pages/Home.js
  src/pages/InicioSesion.js
  src/pages/RecuperarContraseña.js
  src/styles/styles.css
  src/templates/Header.js
  src/utils/resolveRoutes.js
Labels: enhancement, Styles, Bugs, HTML

#55 Añadiendo lógica al Registro de mascota
  src/logic/formularioRegistroMascotaLogica.js
  src/logic/registroUsuarioLogica.js
  src/pages/FormularioRegistroMascota.js
  src/pages/Home.js
  src/pages/RegistroUsuario.js
Labels: enhancement

#57 Reset password
  src/logic/inicioSesionLogica.js
  src/logic/recuperarContraseñaLogica.js
  src/pages/Home.js
  src/pages/RecuperarContraseña.js
  src/styles/styles.css
Labels: enhancement, Styles, HTML

#58 Añadiendo validaciones para el registro de la mascota
  src/firebase/configuracionFirebase.js
  src/logic/formularioRegistroMascotaLogica.js
  src/logic/registroUsuarioLogica.js
  src/pages/FormularioRegistroMascota.js
Labels: enhancement

#59 Añadiendo funcionalidad a la recuperacion del correo
  src/logic/recuperarContraseñaLogica.js
Labels: enhancement

#60 Current usery sing out
  src/firebase/configuracionFirebase.js
  src/logic/headerLogica.js
  src/logic/homeLogica.js
  src/logic/inicioSesionLogica.js
  src/logic/registroUsuarioLogica.js
  src/pages/Home.js
  src/styles/styles.css
  src/templates/Header.js
Labels: enhancement

#61 Añadiendo la validación de inicio de sesion
  src/firebase/configuracionFirebase.js
  src/logic/inicioSesionLogica.js
  src/logic/registroUsuarioLogica.js
Labels: enhancement

#62 Terminando registro
  src/logic/formularioRegistroMascotaLogica.js
  src/logic/inicioSesionLogica.js
  src/logic/recuperarContraseñaLogica.js
  src/pages/FormularioRegistroMascota.js
  src/styles/styles.css
Labels: enhancement, Styles, HTML

#64 El regreso del toggle
  src/logic/headerLogica.js
  src/styles/styles.css
  src/templates/Header.js
Labels: enhancement

#65 Añadiendo valores de inputs radio y check a la coleccion
  src/logic/formularioRegistroMascotaLogica.js
Labels: enhancement, Bugs

#71 Optimizando la funcionalidad de Sign In y del Registro de Mascota
  src/firebase/configuracionFirebase.js
  src/logic/formularioRegistroMascotaLogica.js
  src/logic/homeLogica.js
  src/logic/inicioSesionLogica.js
  src/logic/registroUsuarioLogica.js
  src/pages/RegistroUsuario.js
Labels: enhancement

#72 Añadiendo lógica de subir imágen a cloud storage
  src/firebase/configuracionFirebase.js
  src/logic/formularioRegistroMascotaLogica.js
  src/pages/InicioSesion.js
Labels: enhancement, Bugs

#75 El precioso de ingrid
  src/firebase/configuracionFirebase.js
  src/logic/formularioRegistroMascotaLogica.js
Labels: Bugs

#76 Funcion de SignIn, SignUp con Google y validación de usuario único
  src/firebase/configuracionFirebase.js
  src/logic/formularioRegistroMascotaLogica.js
  src/logic/inicioSesionLogica.js
  src/logic/registroUsuarioLogica.js
  src/pages/FormularioRegistroMascota.js
Labels: enhancement

#77 mejoras al código de registro
  src/logic/formularioRegistroMascotaLogica.js
Labels: Bugs

#83 Maquetando Timeline
  src/templates/timeline.js
Labels: enhancement

#88 Game of styles
  src/styles/styles.css
  src/templates/timeline.js
Labels: Styles, Responsive design, HTML

#89 Añadiendo cambios al media query con min-width: 960px
  src/styles/styles.css
Labels: enhancement

#92 Realizando cambios en el media query min-width: 1350px para Bienvenida
  src/styles/styles.css
Labels: enhancement

#93 Volver al picture2
  src/firebase/configuracionFirebase.js
  src/logic/formularioRegistroMascotaLogica.js
  src/logic/headerLogica.js
  src/logic/homeLogica.js
  src/styles/styles.css
  src/templates/Header.js
Labels: enhancement, Styles, Bugs, Responsive design, HTML

#94 Añadiendo estilos a la vista de Recuperación de contraseña
  src/styles/styles.css
Labels: enhancement

#95 Añadiendo estilos a la pantalla de recuperación de contraseña con MQ500
  src/styles/styles.css
Labels: Styles, Responsive design

#100 Añadiendo estilos para la pantalla de 960px de ancho
  src/styles/styles.css
Labels: Styles, Responsive design

#109 pruebas para consultar username y petname
  src/firebase/configuracionFirebase.js
  src/logic/headerLogica.js
  src/logic/timelineLogica.js
  src/styles/styles.css
Labels: enhancement

#110 Añadiendo estilos a MQ con width 1350px
  src/styles/styles.css
Labels: Styles, Responsive design

#111 Añadiendo estilos cuando el correo fue enviado
  src/styles/styles.css
Labels: Styles, Responsive design

#112 Añadiendo mejoras a la parte de Correo Enviado
  src/styles/styles.css
Labels: Styles, Responsive design

#113 Añadiendo estilos a MQ500 correo enviado
  src/styles/styles.css
Labels: Styles, Responsive design

#114 Añadiendo estilos al MQ con width de 960px
  src/styles/styles.css
Labels: Styles, Responsive design

#115 Interstellar
  src/logic/formularioRegistroMascotaLogica.js
  src/logic/timelineLogica.js
  src/styles/styles.css
Labels: enhancement, Styles

#116 Nightmare before edit + el Karate Post
  src/firebase/configuracionFirebase.js
  src/logic/creacionPostLogica.js
  src/logic/homeLogica.js
  src/logic/timelineLogica.js
  src/styles/styles.css
Labels: enhancement

#122 Duro de borrar :v
  src/assets/bin.png
  src/assets/pencil.png
  src/logic/timelineLogica.js
  src/styles/styles.css
Labels: enhancement, Styles, Bugs, HTML

#123 Añadiendo funcionalidad al boton de likes
  src/firebase/configuracionFirebase.js
  src/logic/creacionPostLogica.js
  src/logic/timelineLogica.js
Labels: enhancement

#124 Arreglando el Sign In
  src/logic/formularioRegistroMascotaLogica.js
  src/logic/inicioSesionLogica.js
Labels: enhancement

#130 Añadiendo fecha completa con hora y uso de timestamp + order by
  src/logic/creacionPostLogica.js
  src/logic/timelineLogica.js
Labels: enhancement, Bugs

#131 Añadiendo detalles al botón de Like-Dislike
  src/logic/timelineLogica.js
Labels: enhancement

#133 intento de estilos para timeline nuevo
  src/logic/timelineLogica.js
  src/styles/styles.css
Labels: Bugs

#134 Ya porfavor
  src/logic/timelineLogica.js
  src/styles/styles.css
Labels: enhancement, Styles, Bugs, HTML

#138 Foto gorditos2
  src/logic/timelineLogica.js
Labels: enhancement

#141 Responsive registro
  src/styles/styles.css
Labels: Styles, Responsive design

#144 Estilos para Iniciar Sesion MQ500
  src/styles/styles.css
Labels: Styles, Responsive design

#145 Añadiendo estilos al Inicio de sesion MQ960
  src/styles/styles.css
Labels: Styles, Responsive design

#148 Añadiendo estilos a INICIO SESION con MQ1350
  src/styles/styles.css
Labels: Styles, Responsive design

#150 Añadiendo estilos a Home con MQ de width: 500px
  src/styles/styles.css
Labels: Styles, Responsive design

#142 cambios css rspon 500
  src/styles/styles.css
Labels: Styles, Responsive design

#151 Prueba post foto
  src/firebase/configuracionFirebase.js
  src/logic/creacionPostLogica.js
  src/logic/timelineLogica.js
  src/styles/styles.css
Labels: enhancement, Styles

#154 Responsive home
  src/styles/styles.css
Labels: Styles, Responsive design

#155 Responsive timeline
  src/logic/creacionPostLogica.js
  src/styles/styles.css
  src/templates/creacionPost.js
Labels: Styles

#156 Correcciones de formulario
  package.json
  src/logic/formularioRegistroMascotaLogica.js
  src/logic/inicioSesionLogica.js
  src/styles/styles.css
  test/index.spec.js
Labels: Styles, Bugs, Responsive design

#157 Añadiendo el prototipo de baja
  README.md
  src/assets/prototipobaja_1.png
  src/assets/prototipobaja_2.png
  src/assets/prototipobaja_3.png
  src/assets/prototipobaja_4.jpg
Labels: documentation

#158 Añadiendo test
  test/index.spec.js
Labels: Test

#159 Terminando responsive de home a 1800
  src/styles/styles.css
Labels: Styles, Responsive design

#161 Añadiendo test que realizo ingrid
  test/index.spec.js
Labels: Test

#160 Testing funciones de Firebase
  test/index.spec.js
Labels: Test

#162 Probando123
  README.md
  src/assets/emilus.jpeg
  src/assets/prototiposAlta01.png
  src/assets/prototiposAlta02.png
  src/assets/prototiposAlta03.png
  src/assets/prototiposAlta04.png
  src/assets/prototiposAlta05.png
  src/firebase/configuracionFirebase.js
Labels: documentation

#163 Final home alone500
  src/styles/styles.css
Labels: Styles, Responsive design
